
body{
    font-family:  'Open Sans', Arial, sans-serif;
    color: white;
    background-color: #e34040;

}
.pokedex-box{
    display: flex;
    
}





.scroll-box{
 width: 21rem;
 height: 50rem;
 overflow: auto; 
 background-color: #700808;
 border-radius: 0.5rem;
 color: white;
 
 

 scrollbar-color: #e34040 #b13333;
 scrollbar-width: thin;
 scrollbar-color: transparent transparent; 
}
.scroll-box::-webkit-scrollbar {
  /* Ancho del scrollbar para navegadores WebKit */
  width: 1.1rem; 
  border-radius: 0.5rem;
}
.scroll-box::-webkit-scrollbar-thumb {
    background-color: #e34040; /* Color del thumb (agarre del scrollbar) */
    border-radius: 0.3rem;
    border: none;
}
.scroll-box::-webkit-scrollbar-track {
    background-color: #b13333; /* Color del track (fondo del scrollbar) */
    border-radius: 0.5rem;
}
.scroll-box .button-style{
    display: flex; /* Mostrar el contenido en línea */
    align-items: center; /* Alinear verticalmente el contenido al centro */
    color: white;
    background-color: #480202;
    width: 20rem;
    height: 5rem;
    margin-top: 0.06rem;
    font-weight: bolder;
    text-align: left;
    border: none; /* Quita los bordes del botón */
    
}
.scroll-box .button-style:active{
    background-color: #700808;
}

.scroll-box .button-style:hover{
    background-color: #e34040;
}
.scroll-box .button-style.clicked{
    background-color: #700808;
}
.pokemon-icon {
    width: 70px; /* Ajusta el ancho del sprite según tus necesidades */
    height: 50px; /* Ajusta la altura del sprite según tus necesidades */
    margin-bottom: 1rem;
}
.pokemon-number{
    margin-left: auto;
    margin-right: 1rem;
}




.info-box {
    flex-direction: column;
    display: flexbox;
    align-items: center;
    width: 70rem;
    height: 50rem;
    background-color: white;
    border-radius: 0.5rem;
    margin-left: 2rem;
    
    color: black;
  }
.info-box .information{
    display: grid;
    grid-template-rows: auto auto 1fr; /* Ajusta la distribución de filas */
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "pokemon-data pokemon-details"
      "pokemon-type pokemon-type"
      "pokemon-evolution pokemon-evolution";
    text-indent: 2rem;
    margin-top: 1rem;
}
  .pokemon-data {
    grid-area: pokemon-data;
    align-items: center;
    display: flex;
    flex-direction: column;
    word-spacing: 8rem;
  }
  
  .pokemon-details {
    grid-area: pokemon-details;
    margin-bottom: 9rem;
  }
  

  .evolution-title{
    grid-area: pokemon-evolution;
    display: flex;
   text-indent  : 32rem;
   margin: -1rem;
   

  }
  .evolution-title::before {
    content: "";
    position: absolute;
    left: 25%;
    right: 18%;
    top: 43%;
    border-top: 0.15rem solid #e34040;
  }
  
  .pokemon-evolution {
    grid-area: pokemon-evolution;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
  }

  .pokemon-image {
    width: 230px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
  }
  .evolution-stage{
    flex: 1 0 200px; /* Establece el ancho mínimo y máximo de cada etapa de evolución */
    padding: 10px; /* Espacio entre las etapas de evolución */
    box-sizing: border-box; /* Incluye el padding dentro del ancho del elemento */
    text-align: center; /* Centra el contenido dentro de cada etapa de evolución */
  }
  .pokemon-evolution .evolution-stage img {
    max-width: 100%; /* Establece el ancho máximo de las imágenes dentro de cada etapa */
    height: auto; /* Permite que la altura de las imágenes se ajuste automáticamente */
  }

  
  .evolution-image{
    width: 7rem; /* Ajusta el ancho de la imagen según tus necesidades */
    height: auto; 
  }
  .evolution-arrow {
    position: relative;
  }
  

  .evolution-arrow::before {
    content: '';
    position: absolute;
    top: 52.5%;
    left: 100%;
    transform: translateY(-50%);
    transform: translateX(-80%);
    width:3rem;
    height: 0.15rem;
    background-color: red;
  }
  
  .evolution-arrow::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 110%;
    transform: translateY(-50%);
    width: 0.5rem;
    height: 0.5rem;
    border-top: 0.2rem solid #e34040;
    border-right: 0.2rem solid #e34040;
    transform: rotate(45deg);
  }
  .info-box .search{
    display: flex;
    margin-left: auto;
    margin-right: 1rem;
    
    
  }
  
  .info-box .search button{
    background-color: white;
    border: none;
  }